:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
  --bg-color: #2f303a;
  --bg-color2: #f5f4fa;
  --bg-social-icon: rgba(255, 255, 255, 0.1);
  --bg-overlay: rgba(33, 150, 243, 0.9);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --button-font: #f5f4fa;
  --portfolio-border-color: #eeeeee;
  --logo-black-color: #000000;
  --hero-text-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --section-padding: 94px;
  --header-border-color: #ececec;
  --clients-border-color: #afb1b8;
  --input-border-color: rgba(33, 33, 33, 0.2);
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__changing {
  color: var(--logo-black-color);
}

.logo__changing--light {
  color: var(--hero-text-color);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: transparent;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--hero-text-color);
}

.social-list__icon--team {
  fill: var(--clients-border-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-social-icon);
  border-radius: 50%;
  -webkit-transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon {
  fill: var(--hero-text-color);
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
}

.header__logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu .main-menu__item:not(:last-child) {
  margin-right: 50px;
}

.main-menu__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-menu__link.current {
  color: var(--accent-color);
}
.main-menu__link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.main-menu__link:hover,
.main-menu__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts .contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: var(--secondary-color);
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  fill: var(--secondary-color);
  -webkit-transition: color 250ms var(--transition-function),
    fill 250ms var(--transition-function);
  transition: color 250ms var(--transition-function),
    fill 250ms var(--transition-function);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
}
.contacts__item:hover .contacts__icon,
.contacts__item:focus .contacts__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}
.footer .social-link {
  color: var(--hero-text-color);
}

.address__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  -webkit-transition: color 250ms var(--transition-function);
  transition: color 250ms var(--transition-function);
}
.address__link:not(:last-child) {
  margin-bottom: 9px;
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.footer__wrapper {
  margin-right: 70px;
}

.footer-social-links__description {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.footer-form-wrapper {
  margin-left: auto;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  min-height: 50px;
}

.footer-form-input {
  width: 358px;
  height: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--hero-text-color);
  -webkit-transition: border-color 250ms var(--transition-function);
  transition: border-color 250ms var(--transition-function);
}
.footer-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.footer-form-input::-webkit-input-placeholder {
  color: var(--placeholder-color);
}
.footer-form-input::-moz-placeholder {
  color: var(--placeholder-color);
}
.footer-form-input:-ms-input-placeholder {
  color: var(--placeholder-color);
}
.footer-form-input::-ms-input-placeholder {
  color: var(--placeholder-color);
}
.footer-form-input::placeholder {
  color: var(--placeholder-color);
}

.footer__button {
  margin-left: 12px;
}

.button__icon {
  margin-left: 10px;
}

.form-description {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.address__link--light-color {
  color: var(--hero-text-color);
}

.portfolio-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.portfolio-link:hover,
.portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-item-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.portfolio-images-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--bg-overlay);
  color: var(--hero-text-color);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--transition-function);
  transition: -webkit-transform 250ms var(--transition-function);
  transition: transform 250ms var(--transition-function);
  transition: transform 250ms var(--transition-function),
    -webkit-transform 250ms var(--transition-function);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  min-width: 145px;
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--button-font);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--accent-color);
  color: var(--hero-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} /*# sourceMappingURL=portfolio.css.map */
