.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;

  .header & {
    display: flex;
    align-items: center;
  }

  .footer & {
    display: flex;
    align-items: baseline;
  }
}
